html, body {

    background: black;
    color: #f0eef3;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 60px;

    height: 100%;
    width: 100%;

}

.container {

    float: left;
    height: 100%;
    padding: 10px 20px;
    width: 100%;

}

    img {
        float: left;
        margin-left: 80px;
        margin-top: 100px;
    }

    .info {
        float: left;
        margin-left: 50px;
        margin-top: 70px;
        width: 650px;
    }

    audio {
        clear: both;
        float: left;
        margin-top: 70px;
        width: 100%;
    }


